


@media screen and (max-width:556px) {
  
    #customization .price__wrapper{
flex-direction: column;
    }
    #customization
    .price_label{
        display: none;
    }
    #customization
    .item_name{
        text-align: center;
    }

    
}